services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - .:/app # コードだけ同期
      - /app/node_modules # node_modulesをコンテナ内専用に保持
    stdin_open: true
    tty: true
